<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Almanac</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">LOGO</div>
      <div class="logout"></div>

    </div>
  </body>
</html>
