<table>
  <tr>
    <th>Local</th>
    <th>Resultado</th>
    <th>Visitante</th>
    <th>Fecha</th>
  </tr>
</table>
<p>====================</p>
<h1>Matches</h1>
<div class="matches"></div>
<p>====================</p>
<h1>Teams</h1>
<div class="teams"></div>
<p>====================</p>
<script type="text/javascript">

</script>
