<div class="corps">

  <div class="col-sm-12 boxlogin" >

    <form action="/login" method="POST">
      <div>
        <br>
        <label for="username">Username:</label><br><br>
        <input class="boxtext" type="text" name="username">
      </div>
      <br>
      <div>
        <label for="password">Password:</label><br><br>
        <input class="boxtext" type="password" name="password">
      </div>
      <% if (typeof message != "undefined") { %>
      <div class="error-message"><%= message %></div>
      <% } %>
      <div><br><br>
      <input type="submit" value="Log In">
      </div>
      <br>
      <p class="account-message">
        You do not have an account?
        <br>

        <a href="/signup">Create</a>
      </form>
      <div class="boxopacity"></div>
    </div>
</div>
