

<div class="corps">

  <div class="col-sm-12 boxlogin boxsignup" >
<br><br>
<form action="/signup" method="post" id="form-container">
  <label for="username">Username</label><br><br>
  <input class="boxtext" id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="mail">Mail</label><br><br>
  <input class="boxtext" id="mail" type="mail" name="email" placeholder="mail">
  <br><br>
  <label for="password">Password</label><br><br>
  <input class="boxtext" id="password" type="password" name="password" placeholder="Your password">

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button><a href="/login">Create account</a></button>
  <br><br>
  <a class="fbbox" href="/auth/facebook">Login With
  <img class="boxlogos" src= "/images/facebook.png"></a>
  <div><br><br>
    <a class="googlebox" href="/auth/google">Login With
    <img class="boxlogos" src= "/images/google.png"></a>
  </div>
  <br>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
<div class="boxopacity"></div>
</div>
</div>
