html{
  height: 100%;
}

body {
  font: 18px "Comic sans MS", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

a {
  color: #00B7FF;
}

h1{
  color: #fff;
  text-align: center;
}


.login{
  color: #000;
  font-size: 16px;
  float: right;
}

.fbbox{

  color: black;
}
.googlebox{

  color: black;
}
.boxlogos{
  width: 40px;
  height: 40px;

}
/*#lista ul li {
display:inline;
list-style: none;
}*/
.corps{
  background-image: url(/images/background1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#000;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.boxlogin{
  border: 2px solid #000 ;
  width: 400px;
  height: 380px;
  display: block;
  border-radius: 10%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

}
.boxlogin form{
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

}
.boxopacity{
  background-color: #fff;
  opacity: 0.5;
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10%;
  top: 0;
  left: 0;
  z-index: 1;
}
.boxtext{
  width: 70%;
}
.boxsignup{
  height: 570px;
}

@media(max-width: 500px) {
  nav {
    background: red;
  }
}
